player-connection-mode=Listen
player-connection-guid=2439775519
player-connection-debug=1
player-connection-project-name=Roguelike_Game
player-connection-ip=192.168.31.84
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=a2fea1e8a4b34f10956a7590a35a024b
